[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BANDITS"]
	path = BANDITS
	url = https://github.com/simonetiberi/bandits
[submodule "DifferentialRegulation"]
	path = DifferentialRegulation
	url = https://github.com/simonetiberi/differentialregulation
[submodule "IsoBayes"]
	path = IsoBayes
	url = https://github.com/simonetiberi/isobayes
[submodule "distinct"]
	path = distinct
	url = https://github.com/simonetiberi/distinct
